<div class="row">
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-success text-success">
                        <i class="bi bi-house-door-fill"></i>
                    </div>
                    <div class="ms-3">
                        <h3 class="mb-0 font-weight-bold">{{sumHome}}</h3>
                        <small class="text-muted fs-3">Total Home Page</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-danger text-danger">
                        <i class="bi bi-braces-asterisk"></i>
                    </div>
                    <div class="ms-3">
                        <h3 class="mb-0 font-weight-bold">{{sumRisk}}</h3>
                        <small class="text-muted fs-3">Total RiskAssessment Page</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-warning text-warning">
                        <i class="bi bi-file-person"></i>
                    </div>
                    <div class="ms-3">
                        <h3 class="mb-0 font-weight-bold">{{sumAbout}}</h3>
                        <small class="text-muted fs-3">Total About Page</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-info text-info">
                        <i class="bi bi-person-lines-fill"></i>
                    </div>
                    <div class="ms-3">
                        <h3 class="mb-0 font-weight-bold">{{sumContact}}</h3>
                        <small class="text-muted fs-3">Total Contact Page</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-info text-info">
                        <i class="bi bi-facebook"></i>
                    </div>
                    <div class="ms-3">
                        <h3 class="mb-0 font-weight-bold">{{sumFacebook}}</h3>
                        <small class="text-muted fs-3">Total Facebook Page</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-info text-danger">
                        <i class="bi bi-line"></i>
                    </div>
                    <div class="ms-3">
                        <h3 class="mb-0 font-weight-bold">{{sumLine}}</h3>
                        <small class="text-muted fs-3">Total Line Page</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-info text-danger">
                        <i class="bi bi-wechat"></i>
                    </div>
                    <div class="ms-3">
                        <h3 class="mb-0 font-weight-bold">{{sumWechat}}</h3>
                        <small class="text-muted fs-3">Total Wechat Page</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>